<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  
<!-- Google Tag Manager -->
<script>
  setTimeout(function(){
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-NWGCKKBC');
}, 2000);
</script>
<!-- End Google Tag Manager -->

 
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="google-site-verification" content="jIz96DGPE11xkYNRYqyZLPm4ongJkO9EH1c6OSjBELw" />
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">
  
  {% if settings.favicon != blank %}
    <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
    {{ page_title }}
{% comment %}
    {% if current_tags %}
      {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
    {% endif %}
    {% if current_page != 1 %}
      &ndash; {{ 'general.meta.page' | t: page: current_page }}
    {% endif %}
    {% unless page_title contains shop.name %}
      &ndash; {{ shop.name }}
    {% endunless %}
{% endcomment %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

<link rel="preload" href="{{ 'jquery.elevatezoom.js' | asset_url }}" as="script">
  <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">
   <link rel="preload" href="{{ 'slick.js' | asset_url }}" as="script">
{% if template != 'index' %}  <link rel="preload" href="{{ 'instafeed.min.js' | asset_url }}" as="script">{% endif %}
  <link rel="preload" href="{{ 'jquery.zoomit.min.js' | asset_url }}" as="script">
  {% if template != 'index' %}  
  <link rel="preload" href="{{ 'jquery.ez-plus.js' | asset_url }}" as="script">
{% endif %}
   {% if template == 'index' %}  
  <link rel="preload" href="{{ 'jquery-ui.js' | asset_url }}" as="script">
  {% else %}
  <script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>   
  {% endif %}
   <link rel="preload" href="{{ 'jquery.min.js' | asset_url }}" as="script">

  {{ 'theme.scss.css' | asset_url | stylesheet_tag : preload: true}}
  {{ 'custom.css' | asset_url | stylesheet_tag : preload: true }}
  {{ 'swatch.css' | asset_url | stylesheet_tag : preload: true}}
  {{ 'zoomit.css' | asset_url | stylesheet_tag : preload: true}}
  

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" async defer>
  {% comment %}<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css"/>{% endcomment %}
  
 <link rel="preload" href="{{'slick-theme.css' | asset_url}}" as="style" onload="this.onload=null;this.rel='stylesheet'">
<noscript><link rel="stylesheet" href="{{'slick-theme.css' | asset_url }}"></noscript>
  
  {% include 'google-fonts' %}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

    document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>
  
   {% comment %}{{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}{% endcomment %}
{{ 'jquery.min.js' | asset_url | script_tag }}

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template.directory == 'customers' %}
    <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
    <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->
   <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
 
  
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
 
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->
{% comment %}
  {{ 'instafeed.min.js' |asset_url | script_tag }}
  <script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>{% endcomment %}

  
{{ 'slick.js' |asset_url | script_tag }}
  {% if template != 'index' %}
  {{ content_for_header }}
{% else %}
  {{ content_for_header | remove: '"https:\/\/formbuilder.hulkapps.com\/skeletopapp.js?shop=tony-hamawy.myshopify.com"' | remove: '"https:\/\/fpcdn.me\/sdk\/shopify\/tony-hamawy.myshopify.com\/shopify.min.js?v=1710258818.8496\u0026shop=tony-hamawy.myshopify.com"' | remove: '"https:\/\/swymv3free-01.azureedge.net\/code\/swym-shopify.js?shop=tony-hamawy.myshopify.com"' | remove: '"\/\/productreviews.shopifycdn.com\/embed\/loader.js?shop=tony-hamawy.myshopify.com"' | remove: ',"https:\/\/formbuilder.hulkapps.com\/skeletopapp.js?shop=tony-hamawy.myshopify.com"'  }}
{% endif %}

  
  
{% if template != 'index' %}  
{{ 'jquery.ez-plus.js'  | asset_url | script_tag }}
   {{ 'jquery.elevatezoom.js'  | asset_url | script_tag }}
  {{ 'jquery.zoomit.min.js'  | asset_url | script_tag }}
  
{% endif %}
  {% comment %}  <script type="text/javascript" src="https://cdn.rawgit.com/igorlino/elevatezoom-plus/1.1.6/src/jquery.ez-plus.js"></script>
 {% endcomment %}
 
  {% if template == 'index' %}
 {{ 'jquery-ui.js'  | asset_url | script_tag }}
    {% else %}
<script src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js'></script>

    {% endif %}

  <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "oq6q0arwjm");
</script>
 
</head>

 {% section 'top-bar' %}
<body class="template-{{ template | split: '.' | first }}">
  <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NWGCKKBC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>

  {% section 'header' %}

  <div class="page-container" id="PageContainer">

    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}

  </div>
{% if template != 'index' %}
{% include 'swymSnippet' %}
  {% endif %}
  
  <script>
    
$(document).ready(function() {

  $(".datepicker").datepicker({
    prevText: '<i class="fa fa-fw fa-angle-left"></i>',
    nextText: '<i class="fa fa-fw fa-angle-right"></i>'
  });
});

</script>
<!--Start of Tawk.to Script-->
{% comment %}<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5a5c7bc44b401e45400c180d/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>{% endcomment %}
  
<!--End of Tawk.to Script-->
</body>
</html>

<!--<script>
 /**------------ To display submenu on hover -------------------*/

 $('.site-nav--has-dropdown').hover(function() {
  if ($(this).hasClass('activated')){
    $(this).removeClass('activated');
    $(this).children('.site-nav__dropdown').css('display', 'none');
  }
   if($('.header-bar').hasClass('open')){
   	 $('.header-bar').removeClass('open');
   }
  else{
    $('.header-bar').addClass('open');
    $(this).addClass('activated');
    $(this).children('.site-nav__dropdown').css('display', 'block');
  }  
});
</script>-------->
<script type="text/javascript">
    $(document).ready(function(){
        $(".site-nav--has-dropdown").mouseenter(function(){
            $('.header-bar').css({
                height: "270"
            });
        }).mouseleave(function(){
            $('.header-bar').css({
                height: "155"
            });
        });
    });
  
jQuery(function() {
  jQuery('.swatch :radio').change(function() {
    var optionIndex = jQuery(this).closest('.swatch').attr('data-option-index');
    var optionValue = jQuery(this).val();
    jQuery(this)
      .closest('form')
      .find('.single-option-selector')
      .eq(optionIndex)
      .val(optionValue)
      .trigger('change');
  });
  
  
});

$("button.virtual-btn").click(function(){
  $(".virtual-section").hide();
   $("div#shopify-section-virtual_appointment").show();
});

  
</script>
