<script type="text/javascript" src="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.min.js"></script>
<div class="breadcrumb_cvr">
<div class="breadcrumb"><a href="/">Home</a> / {% if collection %} <a href="{{collection.url}}">{{collection.title}}</a> / {% endif %} {{product.title}}</div>
</div>
<div class="product-template__container page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">
  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
  Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}

  {% case section.settings.image_size %}
  {% when 'small' %}
  {%- assign product_image_width = 'medium-up--one-third' -%}
  {%- assign product_description_width = 'medium-up--two-thirds' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
  {%- assign height = 345 -%}
  {% when 'medium' %}
  {%- assign product_image_width = 'medium-up--one-half' -%}
  {%- assign product_description_width = 'medium-up--one-half' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
  {%- assign height = 530 -%}
  {% when 'large' %}
  {%- assign product_image_width = 'medium-up--two-thirds' -%}
  {%- assign product_description_width = 'medium-up--one-third' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
  {%- assign height = 720 -%}
  {% when 'full' %}
  {%- assign product_image_width = '' -%}
  {%- assign product_description_width = '' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
  {%- assign height = 1090 -%}
  {%- assign enable_zoom = false -%}
  {% endcase %}
  

  <div class="grid product-single cst_template">

    <div class="grid__item product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
      {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
      {% for image in product.images %}
      {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
      {% capture img_class %}product-featured-img{% endcapture %}
      {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
      {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
      {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

      {% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}

      <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
        <div id="{{ zoom_img_id }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;" class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% unless featured_image == image %} hide{% endunless %}" data-image-id="{{ image.id }}"{% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>

          <img id="open-popupimg-{{ image.id }}" 
               class="img_blockid feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
               src="{{ image | img_url: '600x600' }}"
               data-src="{{ img_url }}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ image.aspect_ratio }}"
               data-sizes="auto"
               alt="{{ image.alt | escape }}" 
               data-zoom-image="{{ image | img_url:'master' }}" />
        </div>
        <script>

          $("#open-popupimg-{{ image.id }}").elevateZoom({
            scrollZoom:false
            });
        </script>

      </div>
      {% endfor %}



      <style>
        .breadcrumb_cvr {
    display: table;
    width: 100%;
}
        .modal_block
        {
          display:none !important; 

        } 

        /* The Modal (background) */
        .modal {
          display: none; /* Hidden by default */
          position: fixed; /* Stay in place */
          z-index: 1; /* Sit on top */
          padding-top: 100px; /* Location of the box */
          left: 0;
          top: 1;
          width: 100%; /* Full width */
          height: 100%; /* Full height */
          overflow: auto; /* Enable scroll if needed */
          background-color: rgb(0,0,0); /* Fallback color */
          background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
          opacity:1;
        }

        /* Modal Content */
        .modal-content {
          background-color: #fefefe;
          margin: auto;
          padding: 0px;
          border: 1px solid #888;
          width: 50%;
          text-align:center;
        }

        /* The Close Button */
        .close {
          color: #aaaaaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer;
        }
        .modal-content .product-featured-img
        {
          position:static !important;

        }

        img {
          height: auto;
          max-width: 100%;
        }
        code {
          padding: 15px;
          display: block;
          word-wrap: break-word;
        }         
      </style>

      <script>
        function popupclick(id,imgs,imgl)
        {   


          var modelid="myModal-"+id;  
          var model_id = document.getElementsByClassName("modal")[0];     
          var at1 = document.getElementById("zoomit-target");              
          var att = document.createAttribute("src");
          var att2 = document.createAttribute("data-zoomed");
          var att3 = document.createAttribute("id");
          att3.value =modelid;  
          att.value = imgs;
          att2.value = imgl;       
          at1.setAttributeNode(att);
          at1.setAttributeNode(att2); 
          model_id.setAttributeNode(att3);             
          var mid=document.getElementById(modelid);  
          mid.style.display="block";     
          window.onclick = function(event) {
            if (event.target == mid) {
              mid.style.display = "none";
              location.reload()
            }
          }
        }            

        $(function(code){
          code(document, window, jQuery);
        }(function(document, window, $){
          $(function(){
            $('.imgp').zoomIt();
          });
        }));    


        $(document).ready(function(){
          $("#img_close").click(function () {

            $(".modal").addClass("modal_block");
            location.reload();  
          });
          $(".img_blockid ").click(function () {    
            $(".modal").removeClass("modal_block");  

          });
        });  



      </script>

      <div class='modal'>              
        <div id='ex1' class='modal-content'>
          {% comment %}
          <span id='img_close' class='close'>&times;</span>
          {% endcomment %}


          <img id='zoomit-target' class='imgp' src='"+imgs+"' data-zoomed='"+imgl+"' alt='Fluffy cute Koala'>
        </div>
      </div>

      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
      </noscript>

      {% if product.images.size > 1 %}
      {% if product.images.size > 3 %}
      {%- assign enable_thumbnail_slides = true -%}
      {% endif %}

      <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
        {% if enable_thumbnail_slides == true %}
        <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
          {% include 'icon-chevron-left' %}
          <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
        </button>
        {% endif %}
        <ul class="grid product-single__thumbnails thumb-slider product-single__thumbnails-{{ section.id }}">
          {% for image in product.images %}
          <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js custom-slick-list">
            <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
               class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
               data-thumbnail-id="{{ image.id }}"
               {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
              <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
            </a>
          </li>
          {% endfor %}
        </ul>
        {% if enable_thumbnail_slides == true %}
        <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
          {% include 'icon-chevron-right' %}
          <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
        </button>
        {% endif %}
      </div>
      {% endif %}
    </div>

    <script>
      $(document).ready(function(){ 
        $('.slick-arrow').click(function(){

          var abc = $('.slick-current img').attr('src').replace('_110x110', '_300x300');
          //$('.product-single__photo .product-featured-img,.product-single__photo .zoomImg').attr('src',abc);
          //$('.product-single__photo .product-featured-img,.product-single__photo .zoomImg').attr('srcset',abc)

        });

        $('.product-single__thumbnail').click(function(){
          $('.active-thumb').click(function(){
            var abc = $('.active-thumb img').attr('src').replace('_110x110', '_300x300');
            //$('.product-single__photo .product-featured-img,.product-single__photo .zoomImg').attr('src',abc);
            //$('.product-single__photo .product-featured-img,.product-single__photo .zoomImg').attr('srcset',abc);
          });  
        });


        $(".swatch0 .swatch-element").click(function(e) {
          $('.swatch0 .swatch-element').removeClass('current-size' );
          $(this).addClass("current-size");
        });
        $(".swatch1 .swatch-element").click(function(e) {
          $('.swatch1 .swatch-element').removeClass('current-color' );
          $(this).addClass("current-color");
        });
      });
      /********* size chart popup ***************/   
      $(function() {
        //----- OPEN
        $('[data-popup-open]').on('click', function(e)  {
          var targeted_popup_class = jQuery(this).attr('data-popup-open');
          $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);

          e.preventDefault();
        });

        //----- CLOSE
        $('[data-popup-close]').on('click', function(e)  {
          var targeted_popup_class = jQuery(this).attr('data-popup-close');
          $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);

          e.preventDefault();
        });
      });

      $('.thumb-slider').slick({
        arrows:true,
        speed: 300,
        slidesToShow: 4,
        slidesToScroll: 1,
        responsive: [
          {
            breakpoint: 1024,
            settings: {
              slidesToShow: 3,
              slidesToScroll: 3,
              infinite: true,
              dots: true
            }
          },
          {
            breakpoint: 600,
            settings: {
              slidesToShow: 2,
              slidesToScroll: 2
            }
          },
          {
            breakpoint: 480,
            settings: {
              slidesToShow: 1,
              slidesToScroll: 1
            }
          }
          // You can unslick at a given breakpoint now by adding:
          // settings: "unslick"
          // instead of a settings object
        ]
      });
    </script>
    <div class="grid__item {{ product_description_width }}">
      <div class="product-single__meta custom-meta">

        <h1 itemprop="name" class="product-single__title">{{ product.title }}</h1>




        {% if section.settings.show_vendor %}
        <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
        {% endif %}

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">
          <p class="product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}">
            {% if current_variant.compare_at_price > current_variant.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s id="ComparePrice-{{ section.id }}">{{ current_variant.compare_at_price | money }}</s>
            <span class="product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
              <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                {{ current_variant.price | money }}
              </span>
              <span class="product-price__sale-label product-price__sale-label-{{ section.id }}">{{ 'products.product.on_sale' | t }}</span>
            </span>
            {% else %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s id="ComparePrice-{{ section.id }}" class="hide">{{ current_variant.compare_at_price | money }}</s>
            <span class="product-price__price product-price__price-{{ section.id }}">
              <span id="ProductPrice-{{ section.id }}"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                {{ current_variant.price | money }}
              </span>
              <span class="product-price__sale-label product-price__sale-label-{{ section.id }} hide">{{ 'products.product.on_sale' | t }}</span>
            </span>
            {% endif %}
          </p>        
          {% comment %}<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span> {% endcomment %}
          <div class="product-single__description rte" itemprop="description">
            {{ product.metafields.product.description }}         
          </div>
          {% unless collection.handle == 'evening-wear' or collection.handle == 'bridal-dresses' or collection.handle == 'bride-by-tony-hamawy' %}

          <form action="/cart/add" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">

            {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}

            {% for option in product.options_with_values %}
            <div class="selector-wrapper js product-form__item">
              <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                {{ option.name }}
              </label>
              <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                {% for value in option.values %}
                <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            {% endfor %}
            {% endunless %}



            <select name="id" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
              {% if variant.available %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                {{ variant.title }}
              </option>
              {% else %}
              <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
              {% endif %}
              {% endfor %}
            </select>
			{% comment %}
            <div class="sizechart">Size: <a data-popup-open="popup-1" href="#">View size Chart</a></div>
            {% endcomment %}



            {% if product.available and product.variants.size > 1 %}
            {% for option in product.options %}
            {% include 'swatch' with option %}
            {% endfor %}
            {% endif %}



            {% if section.settings.show_quantity_selector %}
            <div class="custom-qty product-form__item product-form__item--quantity">
              <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
              <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
            </div>
            {% endif %}
            <div class="product-form__item product-form__item--submit custom-btn-wrap">
              <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="custom-submit-btn product-submit btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                <span id="AddToCartText-{{ section.id }}">
                  {% unless current_variant.available %}
                  {{ 'products.product.sold_out' | t }}
                  {% else %}
                  {{ 'products.product.add_to_cart' | t }}
                  {% endunless %}
                </span>
              </button>
            </div>

          </form>
          {% endunless %}

          {% assign productDescription = product.description | split:"<!-- split -->"%}
<div>
  <ul class="tabs">
    <li><a href="#tab-1"><h4>{{ productDescription[0] }}</h4></a></li>
    <li><a href="#tab-2"><h4>{{ productDescription[2] }}</h4></a></li>
    <li><a href="#tab-3"><h4>{{ productDescription[4] }}</h4></a></li>
  </ul>
  <div id="tab-1">
  {{ productDescription[1] }}
  </div>
  <div id="tab-2">
  {{ productDescription[3] }}
  </div>
  <div id="tab-3">
  {{ productDescription[5] }}
  </div>
</div>
          <div class="product-single__description rte" itemprop="description">
            {{ product.metafields.short.description }}         
          </div>

          {% if collection.handle == 'evening-wear' or collection.handle == 'bridal-dresses' or collection.hadle == 'bride-by-tony-hamawy' %}
          <a class="try-studio" href="{{product.url}}">Buy Online</a>
          {% endif %}

          <a class="try-studio"href="{{ section.settings.link }}">{{ section.settings.button }}</a> 

        </div>	
        {% if section.settings.show_share_buttons %}
        {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
      </div>
    </div>
  </div>
  {% comment %}
  <div class="product-tabs">
    <div>
      <ul class="tabs">
        <li><a href="#tab-1">Info</a></li>
        <li><a href="#tab-2">Reviews</a></li>
        <li><a href="#tab-3">Shipping</a></li>
        <li><a href="#tab-4">Returns & Exchange</a></li>
        <li><a href="#tab-5">Payments</a></li>

      </ul>
      <div id="tab-1">
        {{ product.description }}
      </div>
      <div id="tab-2">
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      </div>
      <div id="tab-3">
        {{ pages.shipping-policies.content }}
      </div>
      <div id="tab-4">
        {{ pages.return-exchange.content }}
      </div>
      <div id="tab-4">
        {{ pages.payments.content }}
      </div>
    </div>
  </div>
  {% endcomment %}
  <!--<script>
$(document).ready(function() {
$('ul.tabs').each(function(){
var active, content, links = $(this).find('a');
active = links.first().addClass('active');
content = $(active.attr('href'));
links.not(':first').each(function () {
$($(this).attr('href')).hide();
});
$(this).find('a').click(function(e){
active.removeClass('active');
content.hide();
active = $(this);
content = $($(this).attr('href'));
active.addClass('active');
content.show();
return false;
});
});
});
</script>----->

  {% unless collection.handle == 'evening-wear' or collection.handle == 'bridal-dresses' or collection.handle == 'bride-by-tony-hamawy' %}
  <div class="email_personal">{{ section.settings.bottom_content }}</div>
  {% endunless %}
</div>
{% comment %}
{% if collection %}
<div class="text-center return-link-wrapper">
  <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
    {% include 'icon-arrow-left' %}
    {{ 'products.product.back_to_collection' | t: title: collection.title }}
  </a>
</div>
{% endif %}
{% endcomment %}
{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
</script>
{% endunless %}


{% schema %}
{
"name": "Product pages",
"settings": [
{
"type": "select",
"id": "image_size",
"label": "Image size",
"options": [
{
"value": "small",
"label": "Small"
},
{
"value": "medium",
"label": "Medium"
},
{
"value": "large",
"label": "Large"
},
{
"value": "full",
"label": "Full-width"
}
],
"default": "medium"
},
{
"type": "checkbox",
"id": "show_quantity_selector",
"label": "Show quantity selector",
"default": false
},
{
"type": "checkbox",
"id": "show_variant_labels",
"label": "Show variant labels",
"default": true
},
{
"type": "checkbox",
"id": "show_vendor",
"label": "Show vendor",
"default": false
},
{
"type": "checkbox",
"id": "enable_zoom",
"label": "Enable image zoom",
"default": true
},
{
"type": "checkbox",
"id": "show_share_buttons",
"label": "Show social sharing buttons",
"default": true
},
{
"type":"text",
"id":"button",
"label":"Button Lable"
},
{
"type":"url",
"id":"link",
"label":"Link"
},
{
"type":"textarea",
"id":"bottom_content",
"label":"Content"
}		

]
}
{% endschema %}
